{% extends 'myapp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}

<div class="flex justify-center "><p class="  text-pink-400 text-8xl mt-4 text-gray-500 font-extrabold">👮🏻👮🏻 LOGIN <span class="text-black">HERE</span></p></div>
<div class="flex justify-center items-center mt-12  " >
    <form method="POST" enctype="multipart/form-data" class="flex flex-col gap-4 p-20 w-1/2 bg-red-50 justify-center border-pink-400 rounded shadow-lg border-4 ">
        {% csrf_token %}
        <div>
            <label CLASS=" text-2xl font-semibold" for="USERNAME">USERNAME:-</label><br>
            <div class="bg-white">{{ form.username|attr:"autocomplete:new-password"|attr:"style:outline:none;box-shadow:none;border:1px solid #ccc;width:100%;padding:8px;background-color:white;" }}</div>
        </div>
        <div>
            <label CLASS=" text-2xl font-semibold" for="PASSWORD1">PASSWORD1:-</label><br>
            <div class="bg-white">{{ form.password|attr:"autocomplete:new-password"|attr:"style:outline:none;box-shadow:none;border:1px solid #ccc;width:100%;padding:8px;background-color:white;" }}</div>
        </div>
        
        <div><input CLASS=" bg-pink-400 hover:bg-pink-600 text-white px-4 py-2 mr-4x rounded" value="LOGIN" type="submit" id="LOGIN" name="LOGIN" ></div>
    </form>
</div>
<div class="flex justify-center "><p class="mt-4 text-gray-500 font-semibold">Don't Have An Account??<a href="{% url 'users:auth' %}" class="text-blue-500 hover:text-blue-700 text-green-500">Register Here</a></p></div>
{% endblock %} 

